*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 100;
}
body{
  /*display: flex;*/
  height: 100vh;
  align-content: center;
  /*opacity: 0.5;*/
  background-image: url(newzion.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family:  lato, sans-serif;
  margin-bottom: 0px;

}
form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}
.head{
  background: #0066cc;
  grid-area: hd;
  text-align: center;
  height: 60px;
  font-size: 35px;
  width: 100%;
}

.input{
  grid-area: ip;
  text-align: center;
}
#map{
  width: 100%;
  height: 100%;
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
}
.map{
  background-color: blue;
  grid-area: map;
  grid-row: 2/3
  width: 100vh;
  height: 90vh;
  margin: 20px;
}
.mapLabel{
  font-size: 28px;
  margin-top: 20px;
  margin: 15px;
}
.routeInfo{
  grid-area: info;
  padding: 0;
  margin-left: 5px;
}
.foot{
  text-align: center;
  grid-area: foot;
  background-color: #0066cc;
  border: solid black 1px;
  height: 90px;
  margin-top: 0;
}
.routeIn  {
  margin-top: 10px
}
form{
  font-size: 25px;
  margin-bottom: 120px;
}
#minDif{
  font-size: 22px;
}
#maxDif{
  font-size: 22px;
}
#maxDist{
  font-size: 22px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat (20, 1fr);

  grid-gap: 1em;
  grid-template-areas:
  'hd hd hd hd hd'
  'ip ip map map map'
  'info info map map map'
  'foot foot foot foot foot'
}

@media screen and (max-width: 800px){
  .map{
    height: 100%;
  }
  .foot{
    height: 90px;
    margin-top: 000px;
  }
  .grid{
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);

    grid-template-areas:
    'hd hd'
    'map map'
    'map map'
    'map map'
    'ip ip'
    'info info'
    'foot foot'
    ;
  }
  #routeSearch{
    margin: 10px;
  }
  .yourRoute{
    margin-top: 100px;
  }
}
@media screen and (max-width: 447px){
  .head{
    height: 120px;
  }
  #map{
    height: 100%
  }
  .grid{
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
    'hd'
    'map'
    'map'
    'ip'
    'info'
    'foot'
    ;
  }
}
#address{
  font-size: 22;
}
#submit{
  font-family: lato;
  background-color: #0066cc;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#routeSearch{
  font-family: lato;
  font-style: normal;
  display: flex;
  margin: 10px;
  margin-bottom: 25px;
  background-color: #0066cc;
  border: none;
  padding-top: 5px;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.routeToDo{
  font-size: 20px;
}
.yourRoute{
  margin-bottom: 25px;
  margin-top: 10px;
}
section{
  margin-left: 5px;
}
#toDo{
  padding: 5px;
  display: flex;
  margin: 10px;
  margin-bottom: 25px;
  background-color: #0066cc;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#floating-panel {
  position: center;
  background-color: ;
  /*padding: px;*/
  /*border:  solid #999;*/
  text-align: center;
  font-family: 'Roboto','sans-serif';
  /*line-height: 30px;*/
  /*padding-left: ;*/
}
